<ng-container *ngIf="type === 'table'">
  <table class="data-table">
    <thead>
    <tr>
      <th *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="skl">
        <div class="loader pill"></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
      <td *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="skl">
        <div class="loader pill"></div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-container *ngIf="type === 'form'">
  <div class="wrapper-form">
    <div class="form-container-skl" *ngFor="let _ of [1, 2]">
      <div class="form-group-skl" *ngFor="let _ of [1, 2, 3]">
        <div class="skl">
          <div class="loader line"></div>
        </div>
        <div class="skl">
          <div class="loader pill"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'text'">
  <div class="skl" *ngFor="let _ of [1, 2]">
    <div class="loader text"></div>
  </div>
  <div class="skl d-flex">
    <div class="loader button mr-3"></div>
    <div class="loader button"></div>
  </div>
</ng-container>
