<div class="context-menu" (document:click)="onDocumentClick($event)">
  <button class="secondary-button transparent" (click)="showMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         width="20" height="20">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"/>
    </svg>
  </button>

  <div *ngIf="show" class="menu">
    <button class="menu-item" (click)="edit()"><span> Editar </span>
      <div class="item"></div></button>
    <button class="menu-item" (click)="delete()"><span> Eliminar </span>
      <div class="item"></div></button>
  </div>
</div>
