$navbar-bg-color: #fdfdfd;

.navbar {
  background-color: $navbar-bg-color;
  text-align: center;

  &-logo {
    img {
      width: 160px;
      height: auto;

      @media screen and (max-width: 600px) {
        width: 100px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
