.navbar {
  background-color: #fdfdfd;
  color: #2d3c69;
  text-align: center;
}

.navbar-logo img {
  width: 160px;
  height: auto;
}


@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo img {
    width: 100px;
  }
}
