/* You can add global styles to this file, and also import other style files */
$primary: #0f265c;
$secondary: #ffdd00;
$white: #fdfdfd;
$gray: #ddd;
$dark-gray: #f2f4f7;
$invalid: #F50A0A;
$valid: #155724;
$disabled: rgb(135 125 125 / 12%);

$card-bg-color: $white;
$card-border-radius: 10px;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$card-padding: 0 15px;
$card-margin-bottom: 20px;
$banco-input-border-radius: 0.25rem;
$banco-input-transition-duration: 0.15s;

$main-focus: rgba(255, 221, 0, 0.72);
$secondary-focus: #e5e9f3;

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: $primary;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $dark-gray;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrapper {
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  display: flex;
  flex-direction: column;
  padding: $card-padding;
  overflow: hidden;
  margin-bottom: $card-margin-bottom;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  padding: 14px 0;
}

// Common button styles
@mixin button-styles {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  color: $primary;
  border: none;
  border-radius: 4px;
}

.main-button {
  @include button-styles;
  background-color: $secondary;

  &:disabled {
    background-color: $disabled;
    cursor: not-allowed;

    &:hover {
      background-color: $gray;
    }
  }

  &:hover {
    background-color: $main-focus;
  }
}

.secondary-button {
  @include button-styles;
  background-color: $dark-gray;

  &.transparent{
    background-color: transparent;
  }

  &:disabled {
    border: 1px solid $dark-gray;
    background-color: $disabled;
    cursor: not-allowed;

    &:hover {
      background-color: $gray;
    }
  }

  &:hover {
    background-color: $secondary-focus;
  }
}

.data-table {
  width: 100%;
  padding: 8px 12px;
  border-collapse: collapse;

  thead {
    background: $dark-gray;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid $gray;

    &:last-child {
      border-bottom: none;
    }
  }
}


.title {
  font-weight: bold;
  color: $primary;
  text-align: center;
}

.circle-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.custom-box a, select {
  color: $primary;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  background-clip: padding-box;
  border: 1px solid $dark-gray;
  cursor: pointer;

  &.active {
    background: $primary;
    color: $white;
  }

  &:hover {
    background: $primary;
    color: $white;
  }
}

.banco-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $primary;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $dark-gray;
  border-radius: $banco-input-border-radius;
  transition: border-color $banco-input-transition-duration ease-in-out,
  box-shadow $banco-input-transition-duration ease-in-out;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 1px 2px rgb(185, 211, 248);
    color: $primary;
    border-color: rgb(27, 45, 83);
    outline: none;
  }

  &.validate.ng-invalid.ng-dirty,
  &.validate.ng-valid.ng-dirty {
    border-color: $invalid;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .7rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }

  &.validate.ng-valid.ng-dirty {
    border-color: $valid;
  }

  &[disabled], &.is-disabled {
    background-color: $disabled;
    color: $primary;
  }
}

hr {
  border-top: 1px solid $primary;
  margin-bottom: 1rem;
  width: 100%;
}

.help-text {
  color: $primary;

  &.ht-alert {
    color: $invalid;
  }

  a {
    vertical-align: middle;
  }
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &.primary {
    color: $primary;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  &.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.form-container {
  display: flex;
}

.form-group {
  label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
  }

  margin-right: 15px;
  margin-bottom: 15px;
  flex: 1;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column; /* Stack fields on small screens */
  }

  .form-group {
    margin-right: 0;
  }
}


/* Responsive styles */
@media screen and (max-width: 600px) {
  .data-table th, .data-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

.menu-content {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  text-align: left;
}
